<div class="dialog">
        <h3 class="title">{{title}}</h3>
        <form  class="form" #mtForm="ngForm" [formGroup]="sendMailForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="dialog-content">
            <div class="row">
              <div class="col-md-12">
                <div class="master-data-container">
                        <!-- <mat-form-field class="full-width"> -->
                                <!-- <input matInput placeholder="Email To" [formControl]="emailToFormControl"
                                       [errorStateMatcher]="matcher" required>
                                <mat-error *ngIf="emailToFormControl.hasError('email') && !emailToFormControl.hasError('required')">
                                  Please enter a valid email address
                                </mat-error>
                              </mat-form-field> -->
                              <mat-form-field class="full-width">
                                    <input matInput placeholder="Email To" formControlName="emailTo">
                                  </mat-form-field>
                              <mat-form-field class="full-width">
                                    <input matInput placeholder="Email Cc" [formControl]="sendMailForm.controls.emailCc"
                                           [errorStateMatcher]="matcher">
                                    <mat-error *ngIf="sendMailForm.controls.emailCc.hasError('email') && !sendMailForm.controls.emailCc.hasError('required')">
                                      Please enter a valid email address
                                    </mat-error>
                                  </mat-form-field>
                                  <mat-form-field class="full-width">
                                        <input matInput placeholder="Subject" formControlName="subject" required>
                                      </mat-form-field>
                                  <mat-form-field class="full-width">
                                        <textarea matInput placeholder="Body" formControlName="body" required></textarea>
                                </mat-form-field>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-secondary ml-2" role="button" (click)="onNoClick()">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      